/* Compteur de notifications ou badges */
.counter {
  font-size: 14px;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 2px;
  color: #ffffff;
  background: #e47911; 
  border: none;
  margin-bottom: 24px;
}

#center {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  padding: 20px;
}

/* Liens de navigation bas de page */
#next-steps ul a {
  color: var(--link-color);
  font-size: 14px;
  border-radius: 4px;
  background: white;
  border: 1px solid #d5d9d9;
  display: flex;
  padding: 8px 12px;
  text-decoration: none;
}

#next-steps ul a:hover {
  text-decoration: underline;
  background-color: #f7fafa;
}

/* Séparateurs   */
#spacer, .ticks {
  border-top: 1px solid #e7e7e7;
}